---
title: Albums
layout: page
tags: page
permalink: "albums/"
---

<ul class="album-list">
    {% for item in collections.albums %}
    <li class="listed-album">
        <a href="{{ item.url }}">
            {% if item.data.image %}
                <img src="{{item.data.image}}" class="album-image">
            {% endif %}
            <h2 class="album-title">{{ item.data.title }}</h2>
        </a>
    </li>
    {% endfor %}
</ul>
