---
title: Music
layout: page
tags: page
permalink: "music/"
---

<ul class="album-list">
    {% for item in collections.music %}
    <li class="listed-album">
        <a href="{{ item.url }}">
            {% if item.data.image %}
                <img src="{{item.data.image}}" class="album-image">
            {% endif %}
            <h2 class="album-title">{{ item.data.title }}</h2>
        </a>
    </li>
    {% endfor %}
</ul>

<div class="work-type">
        <h2 class="list-title">Music</h2>
        <ul class="work-list">
            {% for item in collections.writing | getMusic | reverse %}
            <li class="listed-work">
                <a class="work-title" href="{{ item.data.link }}">{{ item.data.title }}</a>
                <p class="work-description">{{ item.data.description }}</p>
            </li>
            {% endfor %}
        </ul>
    </div>
