---
title: Work
layout: page
tags: page
permalink: "work/"
---


<ul class="work-list">
    {% for item in collections.work %}
    <li class="listed-work">
        <a class="work-title" href="{{ item.data.link }}">{{ item.data.title }}</a>
        <p class="work-description">{{ item.data.description }}</p>
    </li>
    {% endfor %}
</ul>
