html {
    background-color: hsl(311, 20%, 80%);
}

body {
    max-width: 1600px;
}

/* HOME PAGE */
body.hp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
}
.hp-image {
    width: 640px;
    max-width: 94vw;
}
.hp nav {
    padding: 2rem 3vw;
}
.hp nav a {
    margin: 0 25px;
    text-decoration: none;
    color: #c2030d;
    font-size: 2.5rem;
    font-family: "Jacquarda Bastarda 9 Charted", serif; 
}
.hp nav a:hover {
    text-decoration: underline;
    color: #d4999c;
}

@media (max-width: 640px) {
    .hp nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .hp nav a {
        margin: 25px;
    }
}

/* PAGES */
.page nav {
    padding: 25px 1vw;
}
.page nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #c2030d;
    font-size: 1.5rem;
    font-family: "Jacquarda Bastarda 9 Charted", serif; 
}
.page nav a:hover {
    text-decoration: underline;
    color: #d4999c;
}
.page nav a:first-child {
    margin-left: 0;
}

@media (max-width: 800px) {
    .page nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .page nav a:first-child {
        margin: 0 auto;
        width: 100%;
        display: block;
        text-align: center;
        flex: 1 0 100%;
        margin-bottom: 1rem;
    }
}


.page-container {
    font-family: "Crimson Text", serif;
    padding-bottom: 4rem;
    margin-top: 10vmin;
}
.page-container p {
    max-width: 640px;
    font-size: 1.3rem;
    line-height: 1.4;
    margin: 1rem auto;
}
.page-container a {
    font-family: 'Jacquarda Bastarda 9 Charted', serif;
    color: #c2030d;
}
.page-container a:hover {
    color: #d4999c;
}
.page-container ul {
    margin: 1rem auto;
    max-width: 640px;
}
.page-container li {
    margin: 10px 0;
    font-size: 1.5rem;
}
.page img {
    width: 740px;
    margin: 2rem 0;
    display: block;
    mix-blend-mode: luminosity;
    margin-left: -50px;
}

@media (max-width: 800px) {
    .page img {
        margin-left: 0;
        max-width: 100%;
    }
}
@media (max-width: 600px) {
    .page-container p {
        font-size: 1.1rem;
    }
}

/* WORK */

.page-container ul.album-list {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 1280px;
    max-width: 96vw;
}

.page-container li.listed-album {
    margin: 2rem;
    flex: 1 0 25%;
    border: 1px solid #c2030d;
    padding: 1rem;
}

.page-container li.listed-album:has(.album-image) {
    border: none;
    padding: 0;
}

.listed-album a {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 0 33%;
}

img.album-image {
    max-width: 100%;
    object-fit: contain;
    mix-blend-mode: luminosity;
    margin: 0
}

.listed-album a:hover .album-image {
    mix-blend-mode: unset;
}

.album-title {
    font-size: 2.5rem;
    font-weight: 400;
    font-family: 'Jacquarda Bastarda 9 Charted', serif;
    color:#c2030d;
}

.album-page {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1400px;
    margin: 10vmin auto 4rem;
}

.album-page .work-title {
    font-family: "Jacquard 12", "Crimson Text", serif;
    font-weight: 400;
    font-size: 3rem;
    color: #c2030d;
}

.work-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 10vmin auto 4rem;
    max-width: 1020px;
}

.work-type {
    flex: 1 0 40%;
    min-width: 300px;
    margin: 0 30px;
}

.work-type .list-title {
    font-family: "Jacquard 12", "Crimson Text", 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 2rem;
    color: #c2030d;
    border-bottom: 1px solid;
}

.work-type .work-list {
    list-style: circle;
}

a.work-title {
    font-family: "Crimson Text", 'Times New Roman', Times, serif;
    color: black;
    font-style: italic;
    font-size: 1.4rem;
    text-decoration: dotted;
}

p.work-description {
    font-size: 1.05rem;
    margin: 4px 0;
    color: #a70009;
}

@media (max-width: 959px) {
    .album-page {
        flex-direction: column-reverse;
    }
    .left, .right {
        max-width: 100%;
    }
    .album-title {
        text-align: center;
    }
    .album-page iframe {
        max-width: 100%;
    }
}

@media (min-width: 960px) {
    .left, .right {
        flex: 1 0 40%;
        padding: 2rem;
    }
}
